@model CreateFeatureViewModel
@{
    ViewData["Title"] = "FinishedFile";
}

<body>

         <div class="cent content">
            <h2>Create Feature</h2>
            <h3 class ="green">(PROJECT NAME)</h3>
            <h4>(FEATURE NAME)</h4>
            <hr>
        </div>
        <!--------------option to create test code------------------------------>
     
                <div class="finished cent" id="finished">
                    <h5>You are finished.</h5>
                    <div class="cent" id="create-code"><a href="#" class="finish-button">View Feature</a>
                </div>
            <!--User will be redirected to page with Cucumber test code. Possible option to download file by clicking.-->
                

</body>