@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="content just-right" id="text-val">
        <div class="main-body">
            <h1 class="green">BLT</h1>
            <hr>
            <h4>Welcome to BLT!<br>An automated web testing tool that uses the Cucumber framework.</h4>
            <p>The purpose of this application is to allow QA testers to build automated tests by simply clicking and filling out short forms.</p>

            <br>
            <br>

            <h4>Why Cucumber?</h4>
            <p>Cucumber makes it possible to write human-readable tests that are mapped into code.
            Here is an example of what you will be writing.</p>
            <p class="green"><i>When I try to login with "user@example.com" and "password1"<br>
            Then I should be logged in successfully</i></p>

            <br>
            <br>
            <p>You will need to set up a test environment on your computer in order to run the files that are generated from this app. <a href="/Home/GettingStarted" id="started-link">Get Started</a></p>
            <br>

        <!--------Code for downloading text files------------->
    
            <input type="button" class ="features-button" id="dwn-btn" value="Download button"/>
            <br>
        <!--------end of download code------------->

            <a href="/CreateFeature/NewProject" class="features-button" id="create-feature-button">Create Feature</a>
            
        </div>
    </div>
</body>

